body {
    background-color: rgb(42, 43, 44);
    font: normal 15pt Verdana;
}
header {
    color: white;
    text-align: center;
}
section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin:auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.444);
}
footer {
    color: white;
    text-align: center;
    font-style: italic;
}
#foto {
    width: 250px;  /* Ajuste a largura conforme necessário */
    height: 250px; /* Defina a mesma altura para manter a forma circular */
    border-radius: 50%; /* Faz a imagem circular */
    object-fit: cover; /* Garante que a imagem cubra a área sem distorcer */
    border: 2px solid #ccc; /*Adiciona uma borda sutil ao redor da imagem */
    margin-top: 30px;
}


